[Unit]
Description=Uvicorn Loxone WebGUI
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/loxberry/workspace/VmManager/vm_webapp
EnvironmentFile=/home/loxberry/workspace/VmManager/vm_webapp/.env
ExecStart=/home/loxberry/workspace/VmManager/vm_webapp/my_venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
